[Unit]
Description=kibana server daemon
Wants=network-online.target
After=network-online.target

[Service]
User=kibana
Restart=on-failure
ExecStart={{ kibana_install_path }}/{{ kibana_link }}/bin/kibana

[Install]
WantedBy=multi-user.target